<div class="escola-wrapper">
  <div class="row">
    <div class="column col-9">
      <div class="escola-content">
        <div class="escola-actions row">
          <div class="escola-action-button column col-3"></div>
          <!-- BOTAO "NOVA DESIGNAÇÃO"-->
          <div class="escola-action-button column col-3"></div>
          <!-- BOTAO "GERAR PDF"-->
          <div class="escola-action-button column col-3"></div>
          <!-- BOTAO "CONSULTAR ALUNOS"-->
          <div class="escola-action-button column col-3"></div>
          <!-- BOTAO "CONSULTAR AGENDA"-->
        </div>
        <div class="escola-alerts row"></div>
        <!-- REGIÃO DE ALERTAS-->
        <div class="escola-week row"></div>
        <!-- REGIÃO DA SEMANA -->
      </div>
    </div>
    <div class="column col-3">
      <div class="escola-rightbar">
        <div class="calendar-wrapper"><!-- CALENDARIO --></div>
      </div>
    </div>
  </div>
</div>
