<nav class="nav-side-menu">
  <ul [@slideInOut]="animationState" #menu class="side-menu">
    <li class="nav-side-dash-btn">
      <a routerLink="/">
        <span class="oi icon" data-glyph="home"></span>
        <span class="title">Dashboard</span>
      </a>
    </li>
    <li class="box-shadow">
      <a routerLink="/publicador">
        <span class="oi icon" data-glyph="people"></span>
        <span class="title">Publicadores</span>
      </a>
    </li>
    <li class="box-shadow">
      <a routerLink="/list-alunos">
        <span class="oi icon" data-glyph="pencil"></span>
        <span class="title">Designações</span>
      </a>
    </li>
    <li class="box-shadow">
      <a routerLink="#">
        <span class="oi icon" data-glyph="map"></span>
        <span class="title">Territórios</span>
      </a>
    </li>
    <li class="box-shadow">
      <a routerLink="#">
        <span class="oi icon" data-glyph="comment-square"></span>
        <span class="title">Discursos</span>
      </a>
    </li>
  </ul>
</nav>
