<div>
  <table>
    <thead>
      <tr>
        <td>#</td>
        <td>Nome</td>
        <td>Faz Leitura</td>
        <td>Faz Demonstração</td>
        <td>Faz Discurso</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let aluno of vm.alunos">
        <td>{{ aluno.alunoId }}</td>
        <td>{{ aluno.nomePublicador }}</td>
        <td>{{ aluno.fazLeitura }}</td>
        <td>{{ aluno.fazDemonstracao }}</td>
        <td>{{ aluno.fazDiscurso }}</td>
      </tr>
    </tbody>
  </table>
</div>
