.content-wrapper {
  width: 100%;
}

.list-container {
  width: 100%;
  border-radius: 25px;
  margin-bottom: 20px;
  background-color: rgba(0, 0, 0, 0);
}

.list-title {
  width: 100%;
  height: 50px;
  text-align: center;
  border-radius: 25px;
  background: #c53530;
  margin-bottom: 10px;
}

.list-title h2 {
  color: white;
  margin: 0px;
  padding: 9px;
}

.list-container .publicador-list ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.floating-menu {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 30px;
  right: 30px;
  background-color: #4f000b;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);

  z-index: 999;
}

.app-toolbar > #floating-button {
  display: none;
}

.floating-menu > #floating-button {
  display: block;
  outline: none;
  border: none;
  background: none;
  color: white;
  width: 100%;
  height: 100%;
  font-size: 1.3rem;
}

.floating-menu > ul:not(.show) {
  display: none;
  height: 0;
}

.floating-menu > ul.show {
  list-style: none;
}
.floating-menu > ul.show li {
  position: fixed;
  height: 40px;
  width: 40px;
  border-radius: 20px;
  background: #4f000b;
  right: 40px;
}

.floating-menu > ul.show li:nth-child(1) {
  bottom: 100px;
}

.floating-menu > ul.show li:nth-child(2) {
  bottom: 150px;
}

.floating-menu > ul.show li:nth-child(3) {
  bottom: 200px;
}

.floating-menu ul.show li button,
.floating-menu ul.show li a {
  border: none;
  background: none;
  width: 100%;
  height: 100%;
  color: white;
}

.floating-menu ul.show li span.title {
  display: none;
}
/*
@media (max-width: 576px) {
  .content-wrapper {
    width: 100%;
  }
}

@media (min-width: 577px) and (max-width: 768px) {
  .content-wrapper {
    width: calc(100% - 55px);
  }
}

@media (min-width: 769px) {
  .content-wrapper {
    width: calc(100% - 220px);
  }
}
*/
